<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Title</title>
    <style>
        .wda-scroll-content {
            overflow: auto;
        }

        .wda-scroll-cell {
            height: 800px;
        }

        .wda-bg-black {
            background-color: #000000;
        }

        .wda-bg-blue {
            background-color: blue;
        }

        .wda-bg-pink {
            background-color: pink;
        }
    </style>
</head>
<body>
<div class="wda-scroll-content">
    <div class="wda-scroll-cell wda-bg-black"></div>
    <div class="wda-scroll-cell wda-bg-blue"></div>
    <div class="wda-scroll-cell wda-bg-pink"></div>
    <div class="wda-scroll-cell wda-bg-blue"></div>
    <div class="wda-scroll-cell wda-bg-black"></div>
</div>
<script type="text/javascript">
    var d1 = 0, d2 = 0, timer = null;

    (function () {
        document.querySelector(".wda-scroll-content").style.height = window.innerHeight + "px";
    })();

    document.querySelector(".wda-scroll-content").addEventListener("scroll", function () {
        d1 = getScrollState(this);
        clearTimeout(timer);
        timer = setTimeout(isScrollEnd, 200);
    });

    function isScrollEnd() {
        var dom = document.querySelector(".wda-scroll-content");
        d2 = getScrollState(dom);
        if (d1 === d2) {
            console.log("滚动已停止");
            console.log("滚动距离：" + d1);
        }
    }

    function getScrollState(dom) {
        return dom.scrollTop;
    }
</script>
</body>
</html>